<div style="text-align:center">
  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
    -
    <a [routerLink]="['/ejemploFormulario']" [routerLinkActive]="['activado']">Ejemplo Formulario</a>
    -
    <a [routerLink]="['/mostrarId']" [routerLinkActive]="['activado']">Mostrar Id</a>
    -
    <a [routerLink]="['/botones']" [routerLinkActive]="['activado']">botones</a>
    -
    <a [routerLink]="['/elevationCSS']" [routerLinkActive]="['activado']">elevationCSS</a>
    -
    <a [routerLink]="['/myIcons']" [routerLinkActive]="['activado']">myIcons</a>
  </nav>
</div>

<hr/>
