<br><br><br>

      <mat-toolbar id="myFooter" color="primary">

          <mat-toolbar-row class="container">

              <div class="myCols">
                  <h5>About us</h5>
                  <ul>
                      <li><a>Company Information</a></li>
                      <li><a>Contact us</a></li>
                      <li><a>Reviews</a></li>
                  </ul>
              </div>

              <div class="myCols">
                  <h5>About us</h5>
                  <ul>
                      <li><a>Company Information</a></li>
                      <li><a>Contact us</a></li>
                      <li><a>Reviews</a></li>
                  </ul>
              </div>
                  
              
          </mat-toolbar-row>
          


      
        <mat-toolbar-row class="social-networks">
                <a mat-icon-button><mat-icon>filter_6</mat-icon></a>
                <a mat-icon-button><mat-icon>filter_6</mat-icon></a>
                <a mat-icon-button><mat-icon>filter_6</mat-icon></a>
            </mat-toolbar-row>

            <mat-toolbar-row class="footer-copyright">
                <p>Copyright © 2018. Todos los derechos reservados.</p>
            </mat-toolbar-row>
      

      </mat-toolbar>